.blog-tile{
    position: relative;
    background-color: white;
    height: auto;
    width: 80%;
    margin: 20px auto;
    padding: 40px;
    border: solid dimgray 1px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 3px rgba(211, 211, 211, 1);
}
.blog-tile .title{
    height: 80px;
    width: 75%;
    font-size: 35px;
    text-align: left;
    float: left;
}

.blog-tile .info{
    height: 80px;
    width: 25%;
    text-align: right;
    font-size: 15px;
    float: right;
}
.blog-tile .description{
    height: auto;
    font-size: 20px;
    clear: left;
}
.blog-tile a:hover{
    color: black;
}