<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Demo</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="../static/styles/header.css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" href="../static/styles/content.css" th:href="@{/styles/content.css}">
    <link rel="stylesheet" href="../static/styles/blogTile.css" th:href="@{/styles/blogTile.css}">
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" href="../static/styles/form.css" th:href="@{/styles/form.css}">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="logo"><h1>Blog</h1></div>
    <div class="search-bar">
        <form>
            <input type="text">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="navigation">
        <nav>
            <a href="/">Blogs</a>
            <a href="/posts/add">Add Blog</a>
            <a href="">Account</a>
        </nav>
    </div>
</div>

<div class="content">
    <form id="addPost" action="#" th:action="@{/user/loginDTO}" th:object="${user}" method="post">
        <h2>Create Blog</h2>
        <label for="post-title">Username</label><br>
        <input id="post-title" type="text" th:field="*{title}" /><br>

        <label for="post-description">Password</label><br>
        <input id="post-description" type="password" th:field="*{description}" /><br>

        <button type="submit">Login</button>
    </form>
</div>

<div class="footer">
    <p>Blog Demo footer</p>
</div>

</body>
</html>