<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Demo</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="../static/styles/header.css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" href="../static/styles/content.css" th:href="@{/styles/content.css}">
    <link rel="stylesheet" href="../static/styles/blogTile.css" th:href="@{/styles/blogTile.css}">
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" href="../static/styles/form.css" th:href="@{/styles/form.css}">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="logo"><h1>Blog</h1></div>
    <div class="search-bar">
        <form>
            <input type="text">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="navigation">
        <nav>
            <a href="/">Blogs</a>
            <a href="/posts/add">Add Blog</a>
            <a href="">Account</a>
        </nav>
    </div>
</div>

<div class="content">
    <h2>Posts</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>Create Date</th>
            <th>AuthorID</th>
        </tr>
        <tr th:each="post: ${posts}">
            <td th:text="${post.ID}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.description}"></td>
            <td th:text="${post.content}"></td>
            <td th:text="${post.createDate}"></td>
            <td th:text="${post.author.ID}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <p>Blog Demo footer</p>
</div>

</body>
</html>